.b-header
    .b-container
        .b-header__block
            .b-header__left
                include ../../components/logo/logo
            .b-header__center
                p.header__phone +7 812 123 45 67
                include ../../components/menu/menu
            .b-header__right
                a.b-enLanguage(href="#") English
                .b-entry
                    a.b-feedBackLink.j-open-popup(href="#feedBack" title="Написать директору")
                    a.b-visuallyImpaired(href="#" Title="Версия для слабовидящих")
                    a.b-entry__link(href="#") Вход
                include ../../components/burger/burger