.b-fashion-news
    .b-container
        .b-fashion-news__title.b-fashion__title Новости модной индустрии
        .b-fashion-news__list
            .b-fashion-news__item
                .b-fashion-news__item-date 01/08/18
                a.b-fashion-news__item-img(href="#")
                    img.j-image-polyfill(src="./img/fashionNewsImg.jpg", alt="Картинка")
                .b-fashion-news__item-text
                    a(href="#") Запущена бесплатная услуга по разработке веб-сайтов для бизнеса
                .b-fashion-news__item-desc Мода
            .b-fashion-news__item
                .b-fashion-news__item-date 01/08/18
                a.b-fashion-news__item-img(href="#")
                    img.j-image-polyfill(src="./img/fashionNewsImg2.jpg", alt="Картинка")
                .b-fashion-news__item-text
                    a(href="#") Запущена бесплатная услуга по разработке веб-сайтов для бизнеса
                .b-fashion-news__item-desc Мода
            .b-fashion-news__item
                .b-fashion-news__item-date 01/08/18
                a.b-fashion-news__item-img(href="#")
                    img.j-image-polyfill(src="./img/fashionNewsImg3.jpg", alt="Картинка")
                .b-fashion-news__item-text
                    a(href="#") Запущена бесплатная услуга по разработке веб-сайтов для бизнеса
                .b-fashion-news__item-desc Мода
        .b-fashion-news__allNews
            a.b-button-fashion.violet(href="#") Все новости