.b-fashion-ourMission
    .b-container
        .b-fashion-ourMission__desc
            .b-fashion-ourMission__desc-left
                img.j-image-polyfill(src="./img/fashionImg.jpg", alt="Картинка")
            .b-fashion-ourMission__desc-right
                .b-fashion-ourMission__desc-title Наша миссия:
                .b-fashion-ourMission__desc-text
                    p Помочь дизайнерам и производствам легкой промышленности начать сотрудничество
    .b-fashion-ourMission__questionnaire
        .b-fashion-ourMission__questionnaire-title Заполните анкету,<br/> чтобы попасть в наш каталог
        .b-fashion-ourMission__questionnaire-left(style="background-image:url(./img/fashionImg2.jpg);")
            a.b-button-fashion.questionnaire-button_position.violet(href="#") Анкета дизайнера
        .b-fashion-ourMission__questionnaire-right(style="background-image:url(./img/fashionImg3.jpg);")
            a.b-button-fashion.questionnaire-button_position(href="#") Анкета организации
    .b-fashion-ourMission__financing
        .b-container
            .b-fashion-ourMission__financing-title Узнайте о возможности получения финансирования для вашего бизнеса
            a.b-button-fashion.violet Подробнее