.b-fashion-ourMission__desc {
	@include flex();
	padding: 45px 0;

	@include tablets {
		display: block;
		padding: 30px 0;
	}

	@include mobile {
		padding: 10px 0;
	}
}

.b-fashion-ourMission__desc-left,
.b-fashion-ourMission__desc-right {
	width: 49.5%;
}

.b-fashion-ourMission__desc-left {
	@include bg(cover);

	@include tablets {
		width: 100%;
		height: 200px;
		margin-bottom: 10px;
	}
}

.b-fashion-ourMission__desc-right {
	background-color: #ebebeb;
	margin-left: 1%;
	padding: 140px 45px 140px;

	@include laptop-wide {
		padding: 100px 40px;
	}

	@include laptop {
		padding: 60px 40px;
	}

	@include tablets-landscape {
		padding: 40px 30px;
	}

	@include tablets {
		width: 100%;
		padding: 30px;
		margin-left: 0;
	}
}

.b-fashion-ourMission__desc-title {
	font-size: rem(27px);
	line-height: 1;
	margin-bottom: 20px;

	@include laptop {
		font-size: rem(22px);
	}

	@include tablets-landscape {
		font-size: rem(18px);
	}
}

.b-fashion-ourMission__desc-text {
	position: relative;
	font-size: rem(54px);
	line-height: 1.1;
	padding: 90px 0;

	&:before,
	&:after {
		content: "";
		width: 3px;
		height: 70px;
		background-color: $text;
		position: absolute;
		left: 0;
	}

	&:before {
		top: 0;
	}

	&:after {
		bottom: 0;
	}

	@include laptop-wide {
		font-size: rem(42px);
	}

	@include laptop {
		font-size: rem(30px);
		padding: 55px 0;

		&:before,
		&:after {
			height: 40px;
		}
	}

	@include tablets-landscape {
		font-size: rem(24px);
		padding: 40px 0;

		&:before,
		&:after {
			height: 30px;
		}
	}

	@include tablets {
		font-size: rem(22px);
	}

	@include mobile {
		font-size: rem(20px);
		padding: 0;

		&:before,
		&:after {
			display: none;
		}
	}
}

.b-fashion-ourMission__questionnaire {
	position: relative;
	@include flex();

	@include mobile {
		display: block;
	}
}

.b-fashion-ourMission__questionnaire-title {
	position: absolute;
	top: 40%;
	left: 0;
	right: 0;
	z-index: 1;
	margin: auto;
	width: 100%;
	max-width: 840px;
	background-color: $white;
	font-size: rem(44px);
	text-transform: uppercase;
	line-height: 1.2;
	text-align: center;
	padding: 30px 10px;

	@include laptop-wide {
		max-width: 750px;
		font-size: rem(36px);
		top: 36%;
	}

	@include laptop {
		max-width: 500px;
		font-size: rem(26px);
		top: 36%;
		padding: 20px 10px;
	}

	@include tablets-landscape {
		max-width: 350px;
		font-size: rem(18px);
		top: 36%;
		padding: 15px 5px;
	}

	@include tablets {
		max-width: 320px;
		font-size: rem(16px);
	}

	@include mobile {
		position: static;
		max-width: 270px;
	}
}

.b-fashion-ourMission__questionnaire-left,
.b-fashion-ourMission__questionnaire-right {
	@include bg(cover);
	position: relative;
	z-index: 0;
	width: 50%;
	height: 865px;

	@include laptop-wide {
		height: 680px;
	}

	@include laptop {
		height: 530px;
	}

	@include tablets-landscape {
		height: 400px;
	}

	@include tablets {
		height: 350px;
	}

	@include mobile {
		width: 100%;
		height: 300px;
		background-position: top center;
	}
}

.questionnaire-button_position {
	position: absolute;
	bottom: 11%;
	left: 0;
	right: 0;
	margin: auto;

	@include laptop-wide {
		bottom: 9%;
	}
}

.b-fashion-ourMission__financing {
	@include bg(cover);
	background-image: url(../img/bg/fashionOurMission.jpg);
	text-align: center;
	padding: 250px 0;

	@include laptop-wide {
		padding: 220px 0;
	}

	@include laptop {
		padding: 170px 0;
	}

	@include tablets-landscape {
		padding: 150px 0;
	}

	@include tablets {
		padding: 90px 0;
	}

	@include mobile {
		padding: 50px 0;
	}
}

.b-fashion-ourMission__financing-title {
	max-width: 750px;
	font-size: rem(54px);
	line-height: 1;
	margin: 0 auto;
	margin-bottom: 70px;

	@include laptop-wide {
		max-width: 560px;
		font-size: rem(44px);
	}

	@include laptop {
		max-width: 450px;
		font-size: rem(34px);
		margin-bottom: 40px;
	}

	@include tablets-landscape {
		max-width: 345px;
		font-size: rem(26px);
		margin-bottom: 30px;
	}

	@include tablets {
		max-width: 295px;
		font-size: rem(22px);
	}

	@include mobile {
		max-width: 235px;
		font-size: rem(20px);
	}
}