.b-fashion-designers
    .b-container
        .b-fashion-designers__slider-wrapper
            .b-fashion-designers__slider.j-slider-designers
                .b-fashion-designers__slider-item
                    .b-fashion-designers__slider-item-content
                        .b-fashion-designers__slider-item-right(style="background-image:url(../../img/designerPerson.jpg);")
                        .b-fashion-designers__slider-item-left
                            .b-fashion-designers__slider-item-name Фазанова Марина
                            .b-fashion-designers__slider-item-job дизайнер-модельер
                            .b-fashion-designers__slider-item-text Я очень рада, что сама могу все это придумать. Я бы хотела создать что-то необычное, яркое и запоминающееся, и в то же время женственное и практичное, что-то, что захотела бы носить любая девушка.
                            a.b-button-fashion(href="#") Портфолио
                .b-fashion-designers__slider-item
                    .b-fashion-designers__slider-item-content
                        .b-fashion-designers__slider-item-right(style="background-image:url(../../img/designerPerson.jpg);")
                        .b-fashion-designers__slider-item-left
                            .b-fashion-designers__slider-item-name Фазанова Марина
                            .b-fashion-designers__slider-item-job дизайнер-модельер
                            .b-fashion-designers__slider-item-text Я очень рада, что сама могу все это придумать. Я бы хотела создать что-то необычное, яркое и запоминающееся, и в то же время женственное и практичное, что-то, что захотела бы носить любая девушка.
                            a.b-button-fashion(href="#") Портфолио
                
            .b-fashion-designers__slider-controls
                .b-fashion-designers__slider-control.b-fashion-designers__prev.j-designers-prev
                .b-fashion-designers__slider-control.b-fashion-designers__next.j-designers-next