.b-fashion-events
    .b-container
        .b-fashion-events__title.b-fashion__title Мероприятия
        .b-fashion-events__slider-wrapper
            .b-fashion-events__slider.j-fashion-events__slider
                .b-fashion-events__slider-item
                    .b-fashion-events__slider-item-block
                        .b-fashion-events__slider-item-left
                            .b-fashion-events__slider-item-imgBlock
                                .b-fashion-events__slider-item-img(style="background-image:url(../../img/fashionImgEvent.jpg);")
                        .b-fashion-events__slider-item-right
                            .b-fashion-events__slider-item-date 01/08
                            .b-fashion-events__slider-item-text Бесплатный тренинг<br/> «Азбука предпринимателя»
                            a.b-button-fashion(href="#") Подробнее
                .b-fashion-events__slider-item
                    .b-fashion-events__slider-item-block
                        .b-fashion-events__slider-item-left
                            .b-fashion-events__slider-item-imgBlock
                                .b-fashion-events__slider-item-img(style="background-image:url(../../img/fashionImgEvent.jpg);")
                        .b-fashion-events__slider-item-right
                            .b-fashion-events__slider-item-date 01/08
                            .b-fashion-events__slider-item-text Бесплатный тренинг<br/> «Азбука предпринимателя»
                            a.b-button-fashion(href="#") Подробнее
                .b-fashion-events__slider-item
                    .b-fashion-events__slider-item-block
                        .b-fashion-events__slider-item-left
                            .b-fashion-events__slider-item-imgBlock
                                .b-fashion-events__slider-item-img(style="background-image:url(../../img/fashionImgEvent.jpg);")
                        .b-fashion-events__slider-item-right
                            .b-fashion-events__slider-item-date 01/08
                            .b-fashion-events__slider-item-text Бесплатный тренинг<br/> «Азбука предпринимателя»
                            a.b-button-fashion(href="#") Подробнее

            .b-fashion-events__controls
                .b-fashion-events__control.b-fashion-events__prev.j-fashion-events__prev
                .b-fashion-events__control.b-fashion-events__next.j-fashion-events__next