extends layout/_layout.pug

//- Блок переменных
append config
	- var currentURL = 'index.html';

//- Блок контента страницы

block content
	// Главный экран
	include section/mainScreen

	// Главный слайдер
	include section/mainSlider

	// Услуги
	include section/services

	// Мероприятия
	include section/activity

	// Последние новости
	include section/lastNews

	// Баннер индустрии и моды
	include section/bannerFashion

	// Фото галерея
	include section/gallery

	// Блок партнеры
	include section/partners

	// Баннер
	include section/banner

	// Блок с картой
	include section/mapBlock

	// Блок гос сайты
	include section/gosSites