ul.b-custom-list
	li.b-custom-list__item
		a.b-custom-list__link(href="index.html" title="Главная") 1
	li.b-custom-list__item
		a.b-custom-list__link(href="about.html" title="О компании") 2
	li.b-custom-list__item
		a.b-custom-list__link(href="fashion.html" title="Мода") 3