.b-mainScreen
    // Для показа блока b-mainScreen__liveView добавить класс "active"
    .b-mainScreen__liveView
        .b-container
            .b-liveView
                .b-liveView__text
                    p Внимание! Идет прямая траснляция с конференции “Как правильно посторить бизнес”
                .b-liveView__link
                    a.button.b-liveView__button(href="#") Начать просмотр
    .b-container
        .b-mainScreen__logo
            h1 Развиваем бизнес Санкт-Петербурга
        .b-mainScreen__work-title Показатели работы ЕЦП в 2018 году
        .b-mainScreen__work-list
            .b-mainScreen__work-item
                .b-mainScreen__work-item-icon
                    img(src="./img/icon/consultations.png" alt="icon")
                .b-mainScreen__work-item-counter 2500
                .b-mainScreen__work-item-text Проведенных консультаций

            .b-mainScreen__work-item
                .b-mainScreen__work-item-icon
                    img(src="./img/icon/seminars.png" alt="icon")
                .b-mainScreen__work-item-counter 203
                .b-mainScreen__work-item-text Обучающих семинаров

            .b-mainScreen__work-item
                .b-mainScreen__work-item-icon
                    img(src="./img/icon/subsidies.png" alt="icon")
                .b-mainScreen__work-item-counter 1200
                .b-mainScreen__work-item-text Выданных субсидий
            
            .b-mainScreen__work-item
                .b-mainScreen__work-item-icon
                    img(src="./img/icon/events.png" alt="icon")
                .b-mainScreen__work-item-counter 1230
                .b-mainScreen__work-item-text Участников мероприятий