.b-mainSlider
    .b-container
        .b-mainSlider-wrap
            .b-mainSlider__content.j-mainSlider
                .b-mainSlider__item
                    .b-mainSlider__item-date
                        p 01
                            span /
                            | 08
                    .b-mainSlider__item-title
                        h2 Как получить субсидии <br /> начинающему <br />предпринимателю?
                    .b-mainSlider__item-text
                        p Кооперация
                    a.b-mainSlider__item-button.button(href="#") Подробнее
                .b-mainSlider__item
                    .b-mainSlider__item-date
                        p 01
                            span /
                            | 08
                    .b-mainSlider__item-title
                        h2 Как получить субсидии <br /> начинающему <br />предпринимателю?
                    .b-mainSlider__item-text
                        p Кооперация
                    a.b-mainSlider__item-button.button(href="#") Подробнее
            .b-mainSlider__controls
                .b-mainSlider__control.b-mainSlider__prev
                .b-mainSlider__control.b-mainSlider__next