// vars
$text: #363636;
$white: #ffffff;
$darkText: #252525;
$grey: #959595;
$lightGrey: #d0d0d0;
$bgRed: #f1113e;
$red: #a22c39;
$darkRed: #a10c10;
$purple: #b74685;
$violet: #8c499b;
$blue: #0a3a85;
$lightBlue: #60c3ec;
$orange: #f48c1f;
$yellow: #cc8323;
$footerBg: #363636;

// layout
@import "_misc/font";
@import "_misc/mixins";
@import "_misc/normalize";
@import "_misc/setting";

// components
@import "../components/logo/logo";
@import "../components/menu/menu";
@import "../components/burger/burger";
@import "../components/button/button";
@import "../components/map/map";
@import "../components/mobileMenu/mobileMenu";
@import "../components/overlay/overlay";

// style
@import "../pages/layout/_layout";
@import "../pages/layout/_header";
@import "../pages/index";
@import "../pages/section/mainScreen";
@import "../pages/section/mainSlider";
@import "../pages/section/services";
@import "../pages/section/activity";
@import "../pages/section/lastNews";
@import "../pages/section/bannerFashion";
@import "../pages/section/gallery";
@import "../pages/section/partners";
@import "../pages/section/banner";
@import "../pages/section/mapBlock";
@import "../pages/section/gosSites";
@import "../pages/about";
@import "../pages/layout/_footer";
@import "../pages/section/fixedIcon";

// media queris
@import "../css/adaptive/adaptive"